header {
  background-color: grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
  margin-bottom: 70px;
}
body {
  font-family: Sans-Serif;
  background-color: #d1d1d1;
}

.ffff {
  text-decoration: none;
  color: #2e2d2d;
  font-weight: 600;
}
.f {
  text-decoration: none;
  color: #2e2d2d;
  font-weight: 600;
  float: right;
}
.yt {
text-align: center;
}
.hff {
   padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.yy {
  width: 150px;
  background-color: grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
  margin-bottom: 50px;
}
.ddd {
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
  margin-bottom: 100px;
}
.gggg {
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
  text-align: center;
}
.jxxx {
    margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
}
footer {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 2px #9c9c9c;
  background-image: linear-gradient(#d6d6d6, #bdbdbd);
}
.hr {
  text-decoration: none;
  color: black;
}
